body{
  color: #800000;
  font-family:Montserrat;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 302px) {
  .container {
    width: 90%;
  }
}

.modal  {
      width: 95%;
      height : 90%;
     }

.centereds {
  position: absolute;
  top: 25%;
  left: 10%;
}
.centered1 {
  position: absolute;
  top: 25%;
  left: 40%;
}
.centered2 {
  background-image: url("../../../img/1.jpg") ;
  color: #800000;
  padding: 2em;
  height: 15rem;
  width:80%;
  font-size: 10px;
  /*height:50%;*/
  border-radius: 10px;
  margin-bottom: 2em;
}

.centered2 p {
  line-height: 80%;
  font-size: 6px;
  font-weight: 800;
  color: #800000;
}

.centered2 p:first-child {
  text-transform: uppercase;
  padding-top: -1.6em;
}



span.progress{ 
    height: 28px;

}


.icon i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center;
}
.icon .circle {
  position: relative;
  margin-right: 16px;
  margin-bottom: 16px;
  float: left;
  width: 55px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.headers p.tags {
  font-size: 9px;
  line-height: 42px;
  color: #800000;
  text-align: center;
}
.headers .tags {
  position: relative;
  margin-top: -20px;
  margin-right: 16px;
  margin-bottom: 16px;
  float: left;
  width: 55px;
  height: 32px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.headers a {
  color : #800000;
}

.card-image {
  height: 400px;
}

.cameras{
  padding-left: 150px; 
  padding-top: 80px; 
  padding-bottom: 80px;
}

.fa-camera{
  height: 90px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}